/* SECTION BANNER*/
#banner
{
    margin-top: 50px;
    position: relative;
    text-align: center;
}

/* IMAGEN DEL BANNER*/
#banner img
{
    width: 100%;
    height: 100%;
}

/*CONTENEDOR DENTRO DEL SECTION BANNER*/
#banner .contenedor
{
    position: absolute;
    top: 35%;
    left: 55%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-shadow: 5px 0 0 #000;
}

/* TITULO DEL BANNER*/
#banner h1
{
    font-size: 30px;
}

/*RESPONSIVE-RESPONSIVE-RESPONSIVE*/
/*480PX*/
@media (min-width:480px){
    
    
    /*AJUSTAMOS CONTENEDOR DENTRO DEL SECTION BANNER*/
    #banner .contenedor
    {
        top: 35%;
        left: 50%;
        
    }
    
    /* AJUSTAMOS TITULO DEL BANNER*/
    #banner h1
    {
        font-size: 35px;
    }
    
}
/*768PX*/
@media (min-width:768px){
    
    
    /*AJUSTAMOS EL BANNER*/
    #banner
    {
        height: 100%;
        overflow: hidden;
    }
    /*AJUSTAMOS LA IMAGEN*/
    #banner img
    {
        height: 100%;
        /*margin-top: -100px;*/
    }
    
    /*AJUSTAMOS CONTENEDOR DENTRO DEL SECTION BANNER*/
    #banner .contenedor
    {
        top: 35%;
        left: 50%;
        
    }
    
    /* AJUSTAMOS TITULO DEL BANNER*/
    #banner h1
    {
        font-size: 50px;
    }
    
}

/*1024PX*/
@media (min-width:1024px){
    
    /*AJUSTAMOS EL BANNER*/
    #banner
    {
        height: 100%;
        overflow: hidden;
    }
    
    /*AJUSTAMOS LA IMAGEN*/
    #banner img
    {
        /*margin-top: -100px;*/
    }
    
    /*AJUSTAMOS CONTENEDOR DENTRO DEL SECTION BANNER*/
    #banner .contenedor
    {
        top: 35%;
        left: 55%;
        
    }
    
    /* AJUSTAMOS TITULO DEL BANNER*/
    #banner h1
    {
        font-size: 70px;
    }
    
}

