/* TITULO DE LA SECTION NUESTROS EXAMENES*/
#nuestrosexameneslistado h2
{
    text-align: center;
    padding: 20px;
    color: black;
}

/* NOMBRE Y PRECIO DE LOS EXAMENES DE LA SECTION NUESTROS EXAMENES*/
#nuestrosexameneslistado h3,h4
{
    text-align: center;
    padding: 5px;
}

/* TITULO DE LA SECTION NUESTROS EXAMENES*/
#nuestrosexameneslistado h3
{
    font-size: 30px;
}

/* BOTON COMPRAR*/
.botoncomprar
{
    border: 1px solid rgb(116, 116, 116);
    background: rgb(235, 235, 235);
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    display: block;
    margin-top: 10px; 
}
/* BOTON COMPRAR*/
.botoncomprar:hover
{
    background: rgb(231, 231, 231);
    text-align: center;
    transition: all 0.3s;
    text-decoration: none;
}

/*SECTION NUESTROS EXAMENES*/
#nuestrosexameneslistado
{
    color: black;
    font-family: 'Poppins', sans-serif;
    
}
/* CONTENEDOR DEL SECTION NUESTROS EXAMENES*/
#nuestrosexameneslistado .contenedor
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
    
}

/* ARTICLES QUE ESTAN DENTRO DE SECTION NUESTROS EXAMENES*/
#nuestrosexameneslistado article
{
    margin: 15px;
    margin-top:90px;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 1px;
    text-align: center;
    padding: 10px 10px;
}
