/*ESTILOS BASICOS*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*CUERPO DE LA PAGINA*/
body
{
    font-family: 'Poppins', sans-serif;
}

/*HEADER, BARRA DONDE ESTA EL MENU, TITULO Y LOGO DE LA PAGINA*/
header
{
    width: 100%;
    height: 50px;
    background: #004AB4;
    color: #fff;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

/* TODOS LOS CONTENEDORES*/
.contenedor
{
    width: 98%;
    margin: auto;
}

/* TITULO DE LA PAGINA*/
h1
{
    float: left;
}

/* CONTENEDOR QUE ESTA DENTRO EL HEADER*/
header .contenedor
{
    display: table;
}

/* TODOS LOS SECTION*/
section
{
    width: 100%;
    /*margin-bottom: 25px;*/
}

/* SECTION INTRODUCCION*/
#introduccion
{
    text-align: justify;
    padding: 25px;
    font-family: 'Poppins', sans-serif;
}

/* TITULO SECTION INTRODUCCION*/
#introduccion h2
{
    padding: 25px;
    font-size: 30px;
}

/*PIE DE PAGINA FOOTER*/
footer
{
    background: #004AB4;
}

/*CONTENEDOR QUE ESTA ADENTRO DEL FOOTER*/
footer .contenedor
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
}

/*PARRAFO DEL FOOTER*/
.copyright
{
    font-size: 20px;
    color: #fff;
}

/*REDES SOCIALES DEL FOOTER*/
.redesociales
{
    width: 100%;
    text-align: center;
    font-size: 28px;
}

/*ENLACES DE LOS ICONOS DE LAS REDES SOCIALES*/
.redesociales a
{
    color: #fff;
    text-decoration: none;
}

#formulario{
    text-align: center;
}

#id_desc_soli{
    width: 90%;
    height: 150px;
    box-sizing: border-box;
    background-color: white;
    resize: none;
    width: 60%
}

form{
    margin-top: 90px;
    text-align: center;
}

.datos-hist{
    display: block;
    margin: 80px auto 5px auto;
    border: 1px solid black;
    text-align: center;
    width: 60%;
}

.unInventario{
    display: block;
    margin: 90px auto 5px auto;
    text-align: center;
    width: 60%;
    border: 1px solid black;

}
  
/*RESPONSIVE-RESPONSIVE-RESPONSIVE*/
/*768*/
@media (min-width:768px){
    
    /* ADAPTAMOS EL FOOTER*/
    .redesociales
    {
        width: auto;
    }
    
    footer .contenedor
    {
        justify-content: space-between;
    }
}
/*1024px*/
@media (min-width:1024px){
    
    /* ADAPTAMOS TODOS LOS CONTENEDORES*/
    .contenedor
    {
        width: 98%;
    }
}