{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        {% if user.is_authenticated and user.is_staff and user.is_superuser %}
            <title> ADMINISTRACION </title>
        {% elif user.is_authenticated and user.is_staff %}
            <title> PORTAL MEDICO </title>
        {% elif user.is_authenticated %}
            <title> PORTAL PACIENTE </title>                  
        {% else %}
            <title> BIENVENIDO </title>             
        {% endif %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/seguimiento.css' %}">
    {% block extrastatic %}
    {% endblock %}
    <!-- end links -->
    
</head>
<body>
    <header>
        <div class="contenedor">
            <input type="checkbox" id="menu-bar">
            <label class="icon-menu" for="menu-bar"></label>
            <nav class="menu">

                {% if user.is_authenticated and user.is_staff and user.is_superuser %}
                    <a href="http://127.0.1:8000/admin"> <i class="fa fa-user-md" aria-hidden="true"></i> PORTAL ADMIN </a>
                    <a href="{% url 'suma_total' %}"> <i class="fa fa-user-md" aria-hidden="true"></i> RECAUDACION MENSUAL </a>
                    <a href="{% url 'logout' %}"> <i class="fa fa-sign-out" aria-hidden="true"></i> CERRAR SESION</a>
                {% elif user.is_authenticated and user.is_staff %}
                    <a href="{% url 'recaudoc' %}"> <i class="fa fa-user-md" aria-hidden="true"></i> RECAUDACION </a>
                    <a href="{% url 'mis_soli' %}"> <i class="fa fa-user-md" aria-hidden="true"></i> AGENDA </a>
                    <a href="{% url 'logout' %}"> <i class="fa fa-sign-out" aria-hidden="true"></i> CERRAR SESION</a>
                {% elif user.is_authenticated %}
                    <a>Usuario:</a>
                    <a id="rut_pac" >{{user.username}}</a>
                    <a href="{% url 'add_soli' %}"> SOLICITUDES </a>
                    <a href="{% url 'logout' %}"> <i class="fa fa-sign-out" aria-hidden="true"></i> CERRAR SESION</a>
                {% else %}
                    <a href="{% url 'index' %}"> <i class="fa fa-home" aria-hidden="true"></i> INICIO </a>
                    <a href="{% url 'login' %}"> <i class="fa fa-sign-in" aria-hidden="true"></i> INICIAR SESION </a>
                    <a href="{% url 'signup' %}"> <i class="fa fa-user-circle-o" aria-hidden="true"></i> REGISTRARSE </a>

                {% endif %}
            </nav>
        </div>
    </header>       
    
    <main style="margin-bottom: 50px">
        {% block content %}
        {% endblock %}
    </main>
    
    <script src="{% static 'js/cuentas_saldo.js' %}"></script>
    <script src="{% static 'js/post.js' %}"></script>
    <script src="{% static 'js/seguimiento.js' %}"></script>
    <script src="{% static 'js/productos.js' %}"></script>
    <script src="{% static 'js/stock.js' %}"></script>
    <script src="{% static 'js/suma.js' %}"></script>
    

</body>
</html>