{% extends 'hospital/base.html'%}
{% load static %}

{% block extrastatic %}
<link rel="stylesheet" href="{% static 'css/exameneslista.css' %}" type="text/css">
{% endblock %}
{% block content %}

<section id="nuestrosexameneslistado" >
    <div class="contenedor">
        <article>
            <h2>Articulo 1</h2>
            <label for="">Precio: </label>
            <p id="precio">150000</p>
            <p>Descripción: Articulo 1 para función 1 especifica</p>
            <a href="#" class="botoncomprar" id="compra_1" onclick="uno();location.href = '/'" >Comprar</a>
        </article>

        <article>
            <h2>Articulo 2</h2>
            <label for="">Precio: </label>
            <p id="precio">250000</p>
            <p>Descripción: Articulo 2 para función 2 especifica</p>
            <a href="#" class="botoncomprar" id="compra_1" onclick="dos();location.href = '/'" >Comprar</a>
        </article>

        <article>
            <h2>Articulo 3</h2>
            <label for="">Precio: </label>
            <p id="precio">450000</p>
            <p>Descripción: Articulo 3 para función 3 especifica</p>
            <a href="#" class="botoncomprar" id="compra_1" onclick="tres();location.href = '/'" >Comprar</a>
        </article>
        
    </div>
</section>


{% endblock %}


