{% extends 'hospital/base.html'%}
{% load static %}

{% block extrastatic %}
{% endblock %}

{% block content %}

<main class="main">

    {% for hist in soli_histo %}

        {% if hist.medico_encargado.rut == user.username %}
            <div class="datos-hist">
                <p>ID Solicitud: {{hist.id_solicitud}}</p>
                <p>Tipo: {{hist.tipo_solicitud}}</p>
                <p>Rut Cliente: {{user.username}}</p>
                <p>Contacto Cliente: {{hist.correo_contacto}}</p>
                <p>Fecha asistencia: {{hist.fecha_serv}}</p>
                <p>Encargado: {{hist.medico_encargado}}</p>
                <p>Estado:  {{hist.estado}}</p>
                <p>Valor:  {{hist.valor}}</p>
                <input type="text" style="display:none;" id="valor-consulta" value="{{hist.valor}}">
                <a href="https://nicolini.pythonanywhere.com/admin/hospital/solicitud/{{hist.id_solicitud}}">Acceder a solicitud</a>
            </div>
        {% endif %}
    {% endfor %}

    <div class="datos-hist">
        <p>Pago mensual: {{ calculo }}</p>
    </div>
      

</main>

{% endblock %}
