{% extends 'hospital/base.html'%}
{% load static %}

{% block extrastatic %}
{% endblock %}

{% block content %}

<main style="margin-top: 80px;" class="main">

    {% for hist in soli_histo %}

        {% if hist.medico_encargado.rut == user.username %}
        <div style="padding: 0 3px;" class="datos-hist">
                <table style="width: 100%;">
                    <tr style="width: 25%; text-align: left; vertical-align: top; border: 1px solid #000; border-spacing: 0;">
                        <td>ID: </td>
                        <td>Tipo: </td>
                        <td>Rut Cliente: </td>
                        <td>Contacto Cliente: </td>
                        <td>Fecha Asistencia: </td>
                        <td>Encargado: </td>
                        <td>Estado: </td>
                        <td>Valor: </td>
                    </tr>
                    <tr style="width: 25%; text-align: left; vertical-align: top; border: 1px solid #000; border-spacing: 0;">
                        <td>{{hist.id_solicitud}}</td>
                        <td>{{hist.tipo_solicitud}}</td>
                        <td>{{user.username}}</td>
                        <td>{{hist.correo_contacto}}</td>
                        <td>{{hist.fecha_serv}}</td>
                        <td>{{hist.medico_encargado}}</td>
                        <td>{{hist.estado}}</td>
                        <td>{{hist.valor}}</td>
                    </tr>
                </table>
                <input type="text" style="display:none;" id="valor-consulta" value="{{hist.valor}}">
            </div>
        {% endif %}
    {% endfor %}

    <div style="position:fixed; bottom: -5px; z-index: 100; width: 100%; background-color: white;" class="datos-hist">
        <p>Pago mensual: ${{ calculo_doc }}</p>
    </div>
      

</main>

{% endblock %}
